// $primary-color: #3498db;
// $secondary-color: #e74c3c;
// $font-size: 16px;

$white: #fff;
$black: #000;

$grey-1: #D4D4D4;
$grey-2: #B4B4B4;
$grey-3: #909090;
$grey-4: #636363;
$grey-5: #494848;
$grey-6: #2a2a2a;
$grey-7: #101010;

$purple-hover: #5347fc;

$purple-1: #11079e;
$purple-2: #0c056d;
$purple-3: #07033c;